@use 'variables' as vars;

@mixin list() {
  ul {
    margin: vars.$test;
    padding: 0;
    list-style: none;
    --var-version: #{vars.$version};
    --raw-id: "%id%";
    --raw-version: "%version%";
  }
}
