@use 'variables' as vars;
@use 'reset';

:root {
  --test-var: blue;
}
div, h1 {
  border:1px;
}

p {
  @include reset.list();
  font-variant: "%id%";
  font-family: vars.$id;
}

.%id% {
  --version: #{vars.$version};
}
